body{
    width: 100%;
    height: 150px;
    background-image: url(./img/movie.jpg);
    background-size: cover;
    margin: 0 0 0 0;

}
.card{
  background: rgba(0, 0, 0, .5);
  height: 1000px;
  margin: 0 auto;
  padding: 23px;
}
.nav{
  background: rgba(0, 0, 0, .5);
  font-size:90px;
  display: wavy;
  font-style: italic;
  color: rgb(155, 31, 31);
  text-decoration-style: wavy; 
}
.container{
    width: 30%;
    height:500px;
    border: none;
    margin: 0 auto;
    color: #e6dada;
    padding: 10px;
    border: solid black;
    background-color: rgb(0,0,0,0.9);
    background-size: 50px;

}
/* Set a style for all buttons */
button {
    background-color: hsl(0, 87%, 49%);
    color:white;
    font-size: large;
    padding:15px; 
    margin: 5px 0 22px 0;
    border: none;
    min-width: 100%;
    opacity: 0.5;
    border-radius: 5px;
  }
  button:hover {
    opacity:1;
  }
  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #535050; ; 
    border-radius: 5px;
    background-color: #a09c9c; 
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #C9CCD5 ;
    outline: none;
    color: rgb(75, 73, 73);
    font-size: large;
    
  }   
  #item{
    color: rgb(110, 107, 107);
  }
  #kala{
    color: rgb(110, 107, 107);
    font-size: large;
    bottom: 30px;
  }
  .fa{
    background-color: blue;
    color: aliceblue;
    width: 15px;
  }
  .log{
    color:rgb(128, 125, 125); 
    font-size: small;
  }
input[type=checkbox] {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.a{
  text-align: right;
  color: #e6dada;
  padding-left: 170px;
  text-decoration: none;

}
a{
  color: blue;
  text-decoration: none;
}
#a{
  color: whitesmoke;
}
.space{
  margin: 30px;
}